/* GLOBAL STYLES */
body {
    background: #333;
    padding-top: 23em;
    display: flex;
    justify-content: center;
  }
  
  /* DEMO-SPECIFIC STYLES */
  .typewriter h1 {
    color: rgb(255, 255, 255);
    font-family: 'Inconsolata', monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: 
      typing 3.0s steps(13, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255) }
  }

.text h1{
  font-size: 35px;
  font-weight: 600;
  color: rgb(95, 159, 255);
}



  .ezbio {
    padding: 14px 28px;
    border: none;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    top: 60%;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 2rem;
    font-size: 16px;
    outline: none;
    border: 3px solid rgb(95, 159, 255);; 
    position: absolute;
    z-index: 1; 
  }
  
  .ezbio:hover {
    color: #fff;
    cursor: pointer;
  }
  
  .ezbio:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0%;
    opacity: 0;
    content: "";
    background-color: rgb(95, 159, 255);
  }
  
  .ezbio:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
  }


/*-----------------*/



  .asynkwale {
    padding: 14px 28px;
    border: none;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    top: 69%;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 2rem;
    font-size: 16px;
    outline: none;
    border: 3px solid rgb(95, 159, 255);; 
    position: absolute;
    z-index: 1; 
  }
  
  .asynkwale:hover {
    color: #fff;
    cursor: pointer;
  }
  
  .asynkwale:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0%;
    opacity: 0;
    content: "";
    background-color: rgb(95, 159, 255);
  }
  
  .asynkwale:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
  }

/*---------------*/

.yee1234 {
    color: rgb(95, 159, 255);
    position: absolute;
    top: 93%;
    font-size: 150%;
}
