/* GLOBAL STYLES */
body {
    background: #333;
    padding-top: 5em;
    display: flex;
    justify-content: center;
  }
  
  /* DEMO-SPECIFIC STYLES */
  .typewriter h1 {
    color: rgb(255, 255, 255);
    font-family: 'Akshar', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: 
      typing 3.0s steps(13, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255) }
  }
  
.btnDiscord {
  padding: 14px 28px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  top: 34%;
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 2rem;
  font-size: 16px;
  outline: none;
  border: 3px solid white; 
  position: absolute;
  z-index: 1; 
}

.btnDiscord:hover {
  color: #fff;
  curosr: pointer;
}

.btnDiscord:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0%;
  opacity: 0;
  content: "";
  background-color: #a53dff;
}

.btnDiscord:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.socialsbtn {
  padding: 14px 28px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  top: 25%;
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 2rem;
  font-size: 16px;
  outline: none;
  border: 3px solid white; 
  position: absolute;
  z-index: 1; 
}

.socialsbtn:hover {
  color: #fff;
  curosr: pointer;
}

.socialsbtn:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0%;
  opacity: 0;
  content: "";
  background-color: #a53dff;
}

.socialsbtn:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.text {
  width: 100%;
  height: 100;
  padding-top: 0.1em;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Inconsolata', monospace;
  display: flex;
}
.text h1{
  font-size: 34px;
  font-weight: 600;
}



.bn5 {
  padding: 2em;
  position: absolute;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}


.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}

